<% content_for :navbar do %>
  <%= render 'shared/navbar_top' %>
<% end %>

<% content_for :body do %>

  <% if @posts.size > 0 %>
    <%= render 'post_short', post: @posts[0] %>
    <% if @posts.size > 1 %>
      <%= render 'posts', posts: @posts[1..@posts.size] %>
    <% end %>
  <% else %>
    <h4>No posts.</h4>
  <% end %>

<% end %>
