#bg {
  position: fixed;
  top: 0;
  left: 0;

  min-width: 100%;
  min-height: 100%;

 img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  min-width: 100%;
  min-height: 50%;
 }
}

.panel-body .img-holder {
  background-color:black;
  position: relative;
  left: -15px;
  top: -15px;
  width: 102.8%;
  img {
    margin-left: 10px;
    margin-bottom: 10px;
    @extend .img-responsive;
  }
}
