#bg {
  position: fixed;
  top: 0;
  left: 0;

  min-width: 100%;
  min-height: 100%;

 img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  min-width: 100%;
  max-width: 200%;
  min-height: 100%;
 }
}

.panel-body .img-holder {
  background-color:black;
  position: relative;
  left: -15px;
  top: -15px;
  width: 102.8%;
  img {
    margin: 0 auto;
    @extend .img-responsive;
  }
}
.cc-attribution {
  background-color:black;
  text-align:center;
  a {
    color:lightgreen;
  }
}
